body{
  font-family: 'Open Sans', sans-serif;
  color: #5d5d5d;
  font-size: 16px;
}
.padding-sides {
	padding: 0 1rem;
}
.padding{
    padding: 1rem;
}
.margin-top{
    margin-top: 5px
}
.margin-right{
    margin-right: 5px
}
.margin-top-b{
    margin-top: 20px
}
.card {
    margin: 20px;
    background-color: rgba(255,255,255,0.85)
}
.list-block .item-after {
    white-space: nowrap;
    color: #8e8e93;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 28px;
}
.list-block .item-input {
    width: 100%;
    margin-top: -8px;
    margin-bottom: -7px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    font-size: 15px;
    line-height: 16px;
}
.no-active{
	color: #8e8e93;
}
.float-right{
    float: right;
}
.clear{
    clear: both;
}
.searchbar {
    height: 48px;
}
.list-block .item-inner {
    padding-top: 15px;
    padding-bottom: 15px;
}
.item-title-row{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block!important
}
input::placeholder {
    color: #bbb;
    font-size: 16px
}
.list-block input[type=time], .list-block input[type=number], .list-block input[type=search], .list-block input[type=text], .list-block input[type=password], .list-block input[type=email], .list-block input[type=tel], .list-block input[type=url], .list-block input[type=date], .list-block input[type=datetime-local], .list-block select, .list-block textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    box-sizing: border-box;
    border: none;
    background: 0 0;
    border-radius: 0;
    box-shadow: none;
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 35px;
    color: #5d5d5d;
    font-size: 15px;
    line-height: 16px;
    font-family: inherit;
}
i.icon.icon-back {
    width: 11px;
    height: 18px;
    background-image: url(../imgs/back.png);
}
.descripcion{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 20px;
    display: inline-block!important;
}
.info{
    font-size: 14px;
    font-style: italic;
}
.small{
    font-size: 14px;
}
.fecha{
    font-size: 12px;
}
.badge {
    font-size: 12px;
    display: inline-block;
    color: #fff;
    background: #8e8e93;
    border-radius: 20px;
    padding: 3px 10px 3px 10px;
    height: 25px;
    line-height: 20px;
    box-sizing: border-box;
    text-align: center;
}

.bg-green, .button.button-fill.bg-green, .list-block .swipeout-actions-left a.bg-green, .list-block .swipeout-actions-right a.bg-green, a.bg-green {
    background-color: #5ab75b;
}
.bg-red, .button.button-fill.bg-red, .list-block .swipeout-actions-left a.bg-red, .list-block .swipeout-actions-right a.bg-red, a.bg-red {
    background-color: #d8534e;
}
.list-block {
    margin: 0px;
    font-size: 16px;
}

.toolbar-inner{
    padding: 0px 20px 
}

.searchbar input[type=search] {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: block;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border-radius: 5px;
    font-family: inherit;
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 400;
    padding: 0 30px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 8px center;
    background-image: url(../imgs/search.png);
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
}

.content-block-inner {
    background: #fff;
    padding: 10px 15px;
    margin-left: -15px;
    width: 100%;
    position: relative;
    color: #5d5d5d;
}

.searchbar-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    background: rgba(0,0,0,.2);
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
a {
    text-decoration: none;
    color: #327ab7;
}
.searchbar-cancel{
    color:#FFF;
}
i.icon.icon-bars {
    background-image: url(../imgs/menu.png);
    height: 13px;
}
.button {
    border: 1px solid #327ab7;
    color: #327ab7;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}

.button.active {
    background: #327ab7;
    color: #fff;
}

.blue{
    color:#327ab7
}
.grey{
    color:#8e8e93;
}

.button-red {
    border: 1px solid #d8534e;
    color: #FFF;
    background-color: #d8534e;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}


.button-grey {
    border: 1px solid #8e8e93;
    color: #8e8e93;
    text-decoration: none;
    text-align: center;
    display: block;
    border-radius: 5px;
    line-height: 27px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: 0 0;
    padding: 0 10px;
    margin: 0;
    height: 32px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
    outline: 0;
}

.picker-modal {
    height: 100%;
    background: #efeef2;
}